<div class="min-h-screen bg-green-50 py-10 px-6">

  <div class="max-w-4xl mx-auto bg-white p-6 rounded-xl shadow">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-2xl font-bold text-green-700">
        Admin Dashboard
      </h2>

      <button
        (click)="logout()"
        class="text-red-600 hover:underline">
        Logout
      </button>
    </div>

    <!-- ADD ITEM -->
    <h3 class="font-semibold mb-3">Add New Item</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">

      <input
        type="text"
        [(ngModel)]="newItem.name"
        placeholder="Item name"
        class="border p-2 rounded" />

      <input
        type="number"
        [(ngModel)]="newItem.basePrice"
        placeholder="Base price"
        class="border p-2 rounded" />

      <select
        [(ngModel)]="newItem.type"
        class="border p-2 rounded">
        <option value="veg">Veg</option>
        <option value="egg">Egg</option>
        <option value="nonveg">Non-Veg</option>
      </select>

      <input
        type="text"
        [(ngModel)]="newItem.image"
        placeholder="Image URL"
        class="border p-2 rounded" />

        <input
          type="text"
          placeholder="Subtitle (e.g. Healthy • Fresh • Protein-rich)"
          [(ngModel)]="newItem.subtitle"
          class="border p-2 rounded w-full mb-2"
        />

    </div>

    <button
      (click)="addItem()"
      class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
      Add Item
    </button>

    <!-- LIST ITEMS -->
    <h3 class="font-semibold mt-10 mb-3">Menu Items</h3>

    <div
      *ngFor="let item of items"
      class="flex justify-between items-center border-b py-3">

      <div class="flex items-center gap-3">
        <img
          *ngIf="item.image"
          [src]="item.image"
          class="w-12 h-12 object-cover rounded" />

        <div>
          <p class="font-medium">
            {{ item.name }}
          </p>
          <p class="text-sm text-gray-500">
            ₹{{ item.basePrice }} • {{ item.type }}
          </p>
        </div>
      </div>

      <button
        (click)="deleteItem(item.id)"
        class="text-red-600 hover:underline">
        Delete
      </button>
    </div>

  </div>
</div>