/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.animate-hidden {
  opacity: 0;
  transform: translateY(40px);
}

.animate-show {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.8s ease-out;
}

.animate-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.animate-show {
  opacity: 1;
  transform: translateY(0);
}